{% macro render(form) -%}

<fieldset>
{% for field in form %}
{% if field.type in ['CSRFTokenField', 'HiddenField'] or field.widget.input_type in ['hidden'] %}
{% else %}
  <div class="form-group {% if field.errors %}has-error has-feedback{% endif %}">
    {{ field.label }}
    {{ field(class_="form-control") }}
    <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
    <span id="{{ field.name.strip()}}Error" class="sr-only">(error)</span>
    {% if field.errors %}
      <p class="text-danger" role="alert">
      <small>
      {% for error in field.errors %}
          {% if error %}
              {{ error }}
          {% endif %}
      {% endfor %}
      </small>
      </p>
    {% endif %}
  </div>
{% endif %}
{% endfor %}
</fieldset>

{% endmacro %}
