body {
  div#login {
    margin: 0 auto;
    padding:2em;
    width: 500px;
  }
  div#register {
    margin: 0 auto;
    padding:2em;
    width: 800px;
  }
  div#forgot_password {
    margin: 0 auto;
    padding:2em;
    width: 800px;
  }
  div#send_confirmation {
    margin: 0 auto;
    padding:2em;
    width: 800px;
  }
}

footer {
  margin: 3em auto;
  border-top: 1px solid #eee;
  padding-top: 2em;
  p { text-align: center; }
}
